body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative; 
}

header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.profile-picture {
    position: absolute;
    top: 20px; 
    right: 20px; 
}

.profile-picture img {
    width: 100px;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

section h2 {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: cente;
    padding: 20px 0;
}
